certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.2.0
Django==2.1.7
Flask==1.0.2
idna==2.8
image==1.5.27
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.1
numpy==1.16.2
openapi-spec-validator==0.2.6
opencv-python==4.0.0.21
pathlib==1.0.1
Pillow==5.4.1
pytz==2018.9
PyYAML==3.13
requests==2.21.0
six==1.12.0
urllib3==1.24.1
wallet-py3k==0.0.4
Werkzeug==0.14.1